<div id="add-new-favorite" ng-controller="NewFavoriteCtrl">
  <div class="modal-header">
    <button data-dismiss="modal" class="close" type="button">
      x
    </button>
    <h3>ADD NEW FAVORITE</h3>
  </div>
  <div class="modal-body modal-content">
    <section class="section-content">
      <form name="newFavorite" class="form-horizontal" novalidate>
        <input id="supplier_query" required type="text" placeholder="Supplier name or email" ng-model="supplierQuery" />
        <button class="btn btn-primary" ng-disabled="newFavorite.$invalid" ng-click="findSupplier()">Find Supplier</button>
      </form>
      <ul>
        <li ng-repeat="foundCompany in foundCompanies">
          <span ui-if="foundCompany._id != company._id">
            {{foundCompany.name}}
            <a ng-click="addToFavorites(foundCompany)">Add to Favorites</a>
          </span>
        </li>
      </ul>
      <div ng-show="companyNotFound">
        The supplier was not found
      </div>
      <div ng-show="showInvitation">
        <span>Invite him to join as a guest supplier</span>
        <form class="form-horizontal invitation-form">
          <div class="control-group">
            <input id="supplier_email" class="input-xlarge" required disabled type="email" placeholder="Email" ng-model="invitation.supplier_email" />
          </div>
          <div class="control-group">
            <input id="supplier_name" class="input-xlarge" type="text" placeholder="Company Name" ng-model="invitation.supplier_name" />
          </div>
          <div class="control-group">
            <textarea id="message" class="span5" rows="4" required ng-model="invitation.message"></textarea>
          </div>
          <div class="control-group last">
            <button class="btn btn-primary" ng-click="sendInvitation()">Send Invitation</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
