<header id="header">
  <div class="inner">
    <div class="row-fluid">
      <div class="span6">
        <div id="logo"><img src="/img/logo.png"></div>
      </div>
    </div>
  </div>
</header>

<form id="sign-up-form" ng:submit="signUp()" name="signUpForm" class="form-horizontal well" novalidate>
  <fieldset>
    <legend>Sign Up</legend>
    <div class="alert alert-error" ng-show="errors">
      <a class="close" ng-click="hideAlert()">&times;</a>
      <ul ng-repeat="error in errors">
        <li>{{error}}</li>
      </ul>
    </div>

    <div class="control-group" ng-class="{error:signUpForm.email.$invalid}">
      <label for="email" class="control-label">Login Email *</label>
      <div class="controls">
        <input id="email" type="text" name="email" class="input-xlarge" ng:model="user.email" required autofocus />
      </div>
    </div>

    <div class="control-group" ng-class="{error:signUpForm.password.$invalid}">
      <label for="password" class="control-label">Password *</label>
      <div class="controls">
        <input id="password" type="password" name="password" class="input-xlarge" ng:model="user.password" required />
      </div>
    </div>

    <div class="control-group" ng-class="{error:signUpForm.password_confirmation.$invalid}">
      <label for="password_confirmation" class="control-label">Password<br>Confirmation *</label>
      <div class="controls">
        <input id="password_confirmation" type="password" name="password_confirmation" class="input-xlarge" ng:model="user.password_confirmation" required />
      </div>
    </div>

    <hr />

    <div class="control-group" ng-class="{error:signUpForm.name.$invalid}">
      <label for="name" class="control-label">Company Name *</label>
      <div class="controls">
        <input id="name" type="text" name="name" class="input-xlarge" ng:model="company.name" required />
      </div>
    </div>

    <div class="control-group" ng-class="{error:signUpForm.abbreviated_name.$invalid}">
      <label for="abbreviated_name" class="control-label">Company Abbreviated Name *</label>
      <div class="controls">
        <input id="abbreviated_name" type="text" name="abbreviated_name" class="input-xlarge" ng:model="company.abbreviated_name" required />
      </div>
    </div>

    <div class="control-group">
      <label for="logo_id" class="control-label">Company Logo</label>
      <div class="controls">
        <input ng-init="setupFileUploader()" class="cloudinary-fileupload" data-url="https://api.cloudinary.com/v1_1/subout/auto/upload" name="file" type="file"></input>
        <input type="hidden" id="company_logo_id" class="file-upload-public-id" ng-model="company.logo_id">
        <div id="progress">
          <div class="bar" style="width: 0%;"></div>
        </div>
        <img class="image-preview" ng-src="{{company.logo_url}}"/>
      </div>
    </div>

    <div class="control-group">
      <label for="dot_number" class="control-label">DOT Number</label>
      <div class="controls">
        <input id="dot_number" type="text" name="dot_number" class="input-xlarge" ng:model="company.dot_number" />
        <p class="help-block warning">Required for bidding.</p>
      </div>
    </div>

    <div class="control-group" ng-class="{error:signUpForm.fleet_size.$invalid}">
      <label for="fleet_size" class="control-label">Fleet Size *</label>
      <div class="controls">
        <input id="fleet_size" type="text" name="fleet_size" class="input-xlarge" ng:model="company.fleet_size" required />
      </div>
    </div>

    <div class="control-group" ng-class="{error:signUpForm.since.$invalid}">
      <label for="since" class="control-label">Since *</label>
      <div class="controls">
        <input id="since" type="text" name="since" class="input-xlarge" ng:model="company.since" required />
      </div>
    </div>

    <div class="control-group" ng-class="{error:signUpForm.owner.$invalid}">
      <label for="owner" class="control-label">Owner *</label>
      <div class="controls">
        <input id="owner" type="text" name="owner" class="input-xlarge" ng:model="company.owner" required />
      </div>
    </div>

    <div class="control-group" ng-class="{error:signUpForm.contact_name.$invalid}">
      <label for="contact_name" class="control-label">Contact Name *</label>
      <div class="controls">
        <input id="contact_name" type="text" name="contact_name" class="input-xlarge" ng:model="company.contact_name" required />
      </div>
    </div>

    <div class="control-group" ng-class="{error:signUpForm.contact_phone.$invalid}">
      <label for="contact_phone" class="control-label">Contact Phone *</label>
      <div class="controls">
        <input id="contact_phone" type="text" name="contact_phone" class="input-xlarge" ng:model="company.contact_phone" required />
      </div>
    </div>

    <div class="control-group" ng-class="{error:signUpForm.company_email.$invalid}">
      <label for="company_email" class="control-label">Contact Email *</label>
      <div class="controls">
        <input id="conpany_email" type="text" name="company_email" class="input-xlarge" ng:model="company.email" required />
      </div>
    </div>

    <div class="control-group" ng-class="{error:signUpForm.website.$invalid}">
      <label for="website" class="control-label">Website *</label>
      <div class="controls">
        <input id="website" type="text" name="website" class="input-xlarge" ng:model="company.website" required />
      </div>
    </div>

    <div class="control-group">
      <label for="tpa" class="control-label">TPA</label>
      <div class="controls">
        <input id="website" type="text" class="input-xlarge" ng:model="company.tpa" />
      </div>
    </div>

    <div class="form-actions">
      <button class="btn btn-primary" type="submit" ng:disabled="signUpForm.$invalid">Sign Up</button>
    </div>
  </fieldset>
</form>
