<div id="bids">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="welcome display-message top-banner">
        <span class="display-message-extra">Welcome</span>
        <span class="company display-message-subject">{{company.name}}!</span>
        <span class="display-message sales-info" sales-info-messages="salesInfoMessages"></span>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="form-group clearfix">
        <a href="#modal" class="btn btn-primary pull-right" data-toggle="modal" ng-click="setOpportunity({}); displayNewOpportunityForm()">Post new opportunity</a>
      </div>
    </div>
  </div>
  <div class="clearfix">
    <div class="pull-right" ng-show="maxPage > 1" ng-include="'pagination'"></div>
  </div>

  <div class="hidden-xs hidden-sm">
    <table class="table">
      <tr>
        <th>Opportunity</th>
        <th>Amount</th>
        <th>Comment</th>
        <th>Status</th>
        <th>Date</th>
      </tr>
      <tr ng-repeat="bid in paginated_results" >
        <td><a href="#/opportunities/{{bid.opportunity.reference_number}}">{{bid.opportunity.name}}</a></td>
        <td>{{bid.amount | soCurrency}}</td>
        <td>{{bid.comment}}</td>
        <td>{{bid.status}}</td>
        <td>{{bid.created_at | date}}</td>
      </tr>
    </table>
  </div>

  <div class="visible-xs visible-sm">
    <table ng-repeat="bid in paginated_results" class="table table-border">
      <tr>
        <td class="table-header">Opportunity</td>
        <td><a href="#/opportunities/{{bid.opportunity.reference_number}}">{{bid.opportunity.name}}</a></td>
      </tr>
      <tr>
        <td class="table-header">Amount</td>
        <td>${{bid.amount}}</td>
      </tr>
      <tr>
        <td class="table-header">Comment</td>
        <td>{{bid.comment}}</td>
      </tr>
      <tr>
        <td class="table-header">Status</td>
        <td>{{bid.status}}</td>
      </tr>
      <tr>
        <td class="table-header">Date</td>
        <td>{{bid.created_at | date}}</td>
      </tr>
    </table>
  </div>
  <div class="clearfix">
    <div class="pull-right" ng-show="maxPage > 1" ng-include="'pagination'"></div>
  </div>
</div>
