<header id="header">
    <div class="inner">
        <div class="row-fluid">
            <div class="span6">
                <div id="logo"><img src="/img/logo.png"></div>
            </div>
        </div>
    </div>
</header>
<div class="span7 offset2">
    <form id="reset-password-form" ng:submit="resetPassword()" name="resetForm" class="form-horizontal well">
        <div class="alert alert-info" ng-show="notice">
          <a class="close" ng-click="hideAlert()">&times;</a>
          {{notice}}
        </div>
        <div class="alert alert-error" ng-show="errors">
          <a class="close" ng-click="hideAlert()">&times;</a>
          <ul ng-repeat="error in errors">
            <li>{{error}}</li>
          </ul>
        </div>
        <fieldset>
            <legend>
                Reset Password
            </legend>
            <p class="alert alert-error" ng:show="message">{{message}}</p>
            <div class="control-group">
                <label for="password" class="control-label">Password</label>
                <div class="controls">
                  <input id="password"
                        type="password"
                        class="input-xlarge"
                        ng:model="user.password"
                        required
                        />
                </div>
            </div>
            <div class="control-group">
                <label for="password_confirmation" class="control-label">Password Confirmation</label>
                <div class="controls">
                  <input id="password_confirmation"
                        type="password"
                        class="input-xlarge"
                        ng:model="user.password_confirmation"
                        required
                        />
                </div>
            </div>
            <div class="form-actions">
              <p><button class="btn btn-primary" type="submit" ng:disabled="{{resetForm.$invalid}}">Reset my password</button></p>
              <p><a href="#/sign_in">Sign in</a></p>
            </div>
        </fieldset>
    </form>
</div>
