/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= jquery-ui-1.8.9.custom
 *= require jquery.timeentry
 *= require_tree .
*/
/* page */
ul{ margin:0px; padding:0px; }
ul li{ list-style:none; }
a, a:active{ outline:none; }
h5{ text-transform: uppercase; font-size:1.1em; color:#686552; }

body{background:#bfbfbf; }
#pageWrapper { position:relative; background:#FFFFFF; }
.inner{ padding:0px 3%; }

#toolbar { width:100%; position:absolute; top:0px; left:0px; background: #c7c6b2; vertical-align: middle; height:50px; line-height:50px; }
	#btn_back{ margin-left:20px;  }
	#btn_next{ margin-left:20px; }
	#btn_close{ margin-left:35px; }
	#search{ 
		text-align:center;
		border:1px solid #000000; 
		margin-top:10px; 
		height:30px;
		background:#FFFFFF;
		text-align:center;
		line-height:30px;  
	}
	#search img{ margin:3px; }
	#search input{ 
		float:left;
		height:100%;
		outline:none; 
		border:none;
		}

#header{ margin:100px 0px; }
#navigator{ text-align:right; font-size:1.1em; margin-top:3em; }
	#navigator a{ border-right:1px solid #333; padding:0px 0.5em; text-decoration:none; }
	#navigator a:last-child { border:none; }
	#navigator a:hover{ color:#85c265; }
	

#dashboard{}
	#dashboard section.title{ margin-bottom:10px; }
	#activities{ border:3px solid #65b23e; }
		#activities .table-striped tbody tr:nth-child(2n+1) td {
		    background-color: #d8e7d0;
		}
		#activities .table td{ padding:10px; font-size:0.9em; }
		#activities .opportunity-title{ color:#75b952; }
	#dashboard #company #company_name{ text-align: center; }
	#dashboard #company #company_logo{ text-align: center; }


	#filters .filter{ text-align:center; cursor:pointer; }
	#filters .filter img{ margin:5px; }
	
	#tags .tag{ margin-bottom:0.3em; }

.modal{position:absolute;}
.modal-body{ max-height:9999px; }