<header id="header">
    <div id="logo"><img src="/img/logo.png"></div>
    <div id="marketing-message"><div class="inner" ng-bind-html-unsafe="marketing_message.value"></div></div>
</header>

<div class="alert alert-error" ng:show="isOldBrowser">
  Warning: Your browser is out of date, and may not be compatible with
  our website. A list of the most popular web browsers can be
  found 
  <a href="/upgrade_browser.html" target="_blank">here</a>. 
  By continuing with your current browser you acknowledge that your experience on this website may be degraded.
</div>

<form id="sign-in-form" ng:submit="signIn()" name="signInForm" class="form-horizontal">
	<fieldset>
    <div class="controls">
      <legend>
        Welcome! Please Sign In
      </legend>
    </div>
		<p class="alert alert-error" ng:show="message">{{message}}</p>
		<div class="control-group">
            <label for="email" class="control-label">Email</label>
            <div class="controls">
              
              <input id="email" 
                    type="text"
                    class="input-xlarge"
                    ng:model="email"
                    autofocus
                    />
            </div>
        </div>
        
        <div class="control-group">
            <label for="password" class="control-label">Password</label>
            <div class="controls">
              
              <input id="password"
                    type="password"
                    class="input-xlarge"
                    ng:model="password"
                    />
            </div>
        </div>
        <div class="form-actions">
          <p><button class="btn btn-primary" type="submit" ng:disabled="{{signInForm.$invalid}}">Sign In</button></p>
          <p><a href="#/password/new">Forgot the password?</a></p>
        </div>
	</fieldset>
</form>
<div id="buy-sell-connect">
  <div class="inner">
  Buy.Sell.Connect.<br/>
  It's time to get on board.
  </div>
</div>
