%div{style: "text-align: center; max-width: 800px"}
  %p
    %a{href: "http://#{DEFAULT_HOST_WITH_PORT}"}
      %img{ src: "http://#{DEFAULT_HOST_WITH_PORT}/img/logo.png" }
  %p
    %strong
      LOG IN TO SUBOUT.COM and see what opportunities are available!
  %p
    = link_to 'www.suboutapp.com', 'http://www.suboutapp.com'

  %p
    Set a reminder link to your calendar to log in to subout.com and bid. 
    Pre-populate the language in the calendar reminder.
    Check your Subout account – Easy charter bus sales available.

  %p
    Make the link active for a 20 min period active M- F only.

%ul{style: "color:#69b645; font-style: italic;"}
  %li 
    Log in today and see what charters are available. If you wish to get daily email, please log in to
    = link_to 'www.suboutapp.com', 'http://www.suboutapp.com'

  %li Click on Setting 
  %li Click on notifications 
  %li Activate the notifications that you want. 

