Hi #{@company.contact_name},

There is a new opportunity has just arrived on Subout: #{@opportunity.name}

To view the details of this opportunity, please click #{ENV['EXTERNAL_URL']}/#/opportunities/#{@opportunity.reference_number}

Thank you!!!

