Hi #{@company.contact_name},

There is a new opportunity that has just arrived on Subout: #{@opportunity.name}

To view the details of this opportunity, please click http://#{DEFAULT_HOST_WITH_PORT}/#/opportunities/#{@opportunity.reference_number}

Thank you!!!

