#{@buyer.name} has added your company (#{@supplier.name}) as a favorite on subout.

You will now be able to bid on special jobs that #{@buyer.name} has made available only for his favorite companies.
If you are not a paid subscriber to Subout, you will be restricted to bidding on opportunitites posted by companies
that have favorited you, like #{@buyer.name}.

Thank you for using Subout!
