Dear #{@subscription.first_name},

Thank you for signing up! Our site goes live on January 8th, and we'll be sending you a reminder e-mail before then in case you forget.  But, if you want to get started now, please click the link below to fill out your profile.  When our site goes live, you'll be all set to do business on subout.

= "http://#{DEFAULT_HOST_WITH_PORT}/#/sign_up?subscription_id=#{@subscription.id}"

The Subout Team
http://www.subout.com