%p Dear #{@subscription.first_name}
%p Welcome to SubOut! You’re just one step away from increasing your revenue and building your client base.
%p Please click #{link_to "here", "http://#{DEFAULT_HOST_WITH_PORT}/#/sign_up?subscription_id=#{@subscription.id}"} to complete your registration and to begin using SubOut.
%p Sincerely,
%p The SubOut Team
