Dear #{@subscription.first_name},

On behalf of all of us on the Subout team, welcome to our site! Please click below to log into the site and to fill out your profile. 

= "http://#{DEFAULT_HOST_WITH_PORT}/#/sign_up?subscription_id=#{@subscription.id}"


Thank you, very much.

The Subout Team
http://www.subout.com
