%p Dear #{@company.name},
%p Your subscription plan has been updated.
%p You are now subscribed to #{@company.subscription_plan.titleize.sub(/subout/i, "SubOut")}.
%p Billing adjustments will be reflected on your next invoice.
%p Note that if you have upgraded your subscription plan, you will be unable to downgrade for one month.
= render 'email_sig'
