%p Dear #{@company.name},
%p You subscription plan has been updated.
%p You are now subscribed to #{@company.subscription_plan.titleize}.
%p Billing adjustments will be reflected on your next invoice.
%p Note that if you have upgraded your subscription plan you will be unnable to downgrade for one month.
%p Sincerely,
%p The SubOut Team
