<div id="page-settings" ng-controller="SettingCtrl">
  <div class="modal-header">
    <button data-dismiss="modal" class="close" type="button">x</button>
    <h3>Settings</h3>
    <div class="modal-loading-animation loading-animation"></div>
  </div>
  <div class="modal-body">
    <ul class="nav nav-tabs">
      <li ng-class="{active:selectedTab == 'user-login'}"><a href="#user-login" data-toggle="tab">User Login</a></li>
      <li ng-class="{active:selectedTab == 'company-profile'}"><a href="#company-profile" data-toggle="tab">Company Profile</a></li>
      <li ng-class="{active:selectedTab == 'licensed-regions'}"><a href="#licensed-regions" data-toggle="tab">Licensed Regions</a></li>
    </ul>
    <div class="tab-content">
      <div ng-class="{active:selectedTab == 'user-login'}" class="tab-pane modal-content" id="user-login">
        <form name="settingsUserLogin" class="form-horizontal" novalidate>
          <fieldset>
            <p class="alert alert-error" ng:show="userProfileError">{{userProfileError}}</p>

            <div class="control-group" ng-class="{error:settingsUserLogin.user_email.$invalid}">
              <label for="user_email" class="control-label">Email *</label>
              <div class="controls">
                <input id="user_email" name="user_email" type="text" class="input-xlarge" ng:model="userProfile.email" required />
              </div>
            </div>
            
            <div class="control-group" ng-class="{error:settingsUserLogin.current_password.$invalid}">
              <label for="current_password" class="control-label">Current Password *</label>
              <div class="controls">

                <input id="current_password"
                name="current_password"
                type="password"
                class="input-xlarge"
                ng:model="userProfile.current_password"
                required
                />
              </div>
            </div>

            <div class="control-group">
              <label for="password" class="control-label">New Password</label>
              <div class="controls">

                <input id="password"
                type="password"
                class="input-xlarge"
                ng:model="userProfile.password"
                />
              </div>
            </div>

            <div class="control-group">
              <label for="password_confirmation" class="control-label">Password Confirmation</label>
              <div class="controls">

                <input id="password_confirmation"
                type="password"
                class="input-xlarge"
                ng:model="userProfile.password_confirmation"
                />
              </div>
            </div>

            <div class="form-actions">
              <button class="btn btn-primary" ng:click="saveUserProfile()" ng-disabled="settingsUserLogin.$invalid">Save</button>
            </div>

          </fieldset>
        </form>
      </div>

      <div ng-class="{active:selectedTab == 'company-profile'}" class="tab-pane modal-content" id="company-profile">
        <form name="settingsCompanyProfile" class="form-horizontal" novalidate>
          <fieldset>
            <p class="alert alert-error" ng:show="companyProfileError">{{companyProfileError}}</p>

            <div class="control-group two-lines" ng-class="{error:settingsCompanyProfile.abbreviated_name.$invalid}">
              <label for="abbreviated_name" class="control-label">Company Abbreviated Name *</label>
              <div class="controls">

                <input id="abbreviated_name"
                name="abbreviated_name"
                type="text"
                class="input-xlarge"
                ng:model="companyProfile.abbreviated_name"
                required
                />
              </div>
            </div>
            <div class="control-group">
              <label for="dot_number" class="control-label">DOT Number</label>
              <div class="controls">
                <input id="dot_number" type="text" class="input-xlarge" ng:model="companyProfile.dot_number" />
                <p class="help-block warning">Required for bidding.</p>
              </div>
            </div>
            <div class="control-group">
              <label for="has_ada_vehicles" class="control-label">Fleet includes ADA vehicles?</label>
              <div class="controls">
                <input id="has_ada_vehicles" type="checkbox" ng-model="companyProfile.has_ada_vehicles" value="1">
                <p class="help-block warning">Required for bidding on ADA opportunities.</p>
              </div>
            </div>
            <div class="control-group">
              <label for="insurance" class="control-label">Insurance</label>
              <div class="controls">
                <select class="input-xlarge" ng-model="companyProfile.insurance">
                  <option value=""></option>
                  <option value="lt_1M">&lt; 1M</option>
                  <option value="1M">1M</option>
                  <option value="5M">5M</option>
                  <option value="10M">10M</option>
                  <option value="gt_10M">&gt; 10M</option>
                </select>
              </div>
            </div>

            <div class="control-group">
              <label for="logo_id" class="control-label">Company Logo</label>

              <div class="controls mobile-controls">
                <input ng-init="setupFileUploader()" class="cloudinary-fileupload" data-url="https://api.cloudinary.com/v1_1/subout/auto/upload" name="file" type="file"></input>
                <input type="hidden" id="company_logo_id" class="file-upload-public-id" value="{{company.logo_id}}" ng-model="company.logo_id">
                <div id="progress">
                  <div class="bar" style="width: 0%;"></div>
                </div>
                <img class="image-preview" ng-src="{{companyProfile.logo_url}}"/>
              </div>
            </div>

            <div class="control-group" ng-class="{error:settingsCompanyProfile.fleet_size.$invalid}">
              <label for="fleet-size" class="control-label">Fleet Size *</label>
              <div class="controls">
                <input id="fleet-size" name="fleet_size" type="text" class="input-xlarge" ng:model="companyProfile.fleet_size" required />
              </div>
            </div>

            <div class="control-group" ng-class="{error:settingsCompanyProfile.since.$invalid}">
              <label for="since" class="control-label">Since *</label>
              <div class="controls">
                <input id="since" name="since" type="text" class="input-xlarge" ng:model="companyProfile.since" required />
              </div>
            </div>

            <div class="control-group" ng-class="{error:settingsCompanyProfile.owner.$invalid}">
              <label for="owner" class="control-label">Owner *</label>
              <div class="controls">
                <input id="owner" name="owner" type="text" class="input-xlarge" ng:model="companyProfile.owner" required />
              </div>
            </div>

            <div class="control-group" ng-class="{error:settingsCompanyProfile.contact_name.$invalid}">
              <label for="owner" class="control-label">Contact Name *</label>
              <div class="controls">
                <input id="contact" name="contact_name" type="text" class="input-xlarge" ng:model="companyProfile.contact_name" required />
              </div>
            </div>

            <div class="control-group" ng-class="{error:settingsCompanyProfile.contact_phone.$invalid}">
              <label for="contact_phone" class="control-label">Contact Phone *</label>
              <div class="controls">
                <input id="contact_phone" name="contact_phone" type="text" class="input-xlarge" ng:model="companyProfile.contact_phone" required />
              </div>
            </div>

            <div class="control-group" ng-class="{error:settingsCompanyProfile.contact_email.$invalid}">
              <label for="contact_email" class="control-label">Contact Email *</label>
              <div class="controls">
                <input id="contact_email" name="contact_email" type="text" class="input-xlarge" ng:model="companyProfile.email" required />
              </div>
            </div>

            <div class="control-group" ng-class="{error:settingsCompanyProfile.website.$invalid}">
              <label for="website" class="control-label">Website *</label>
              <div class="controls">
                <input id="website" name="website" type="text" class="input-xlarge" ng:model="companyProfile.website" required />
              </div>
            </div>

            <div class="control-group">
              <label for="tpa" class="control-label">TPA</label>
              <div class="controls">
                <input id="tpa" type="text" class="input-xlarge" ng:model="companyProfile.tpa" />
              </div>
            </div>

            <div class="control-group">
              <label for="cell_phone" class="control-label">Mobile Phone</label>
              <div class="controls">
                <input id="cell_phone" type="text" class="input-xlarge" ng:model="companyProfile.cell_phone" />
              </div>
            </div>

            <hr />

            <div class="control-group">
              <label for="notification_type" class="control-label">Notification</label>
              <div class="controls">
                <select class="input-xlarge" ng-model="companyProfile.notification_type">
                  <option value="None">None</option>
                  <option value="Individual">Individual</option>
                </select>
              </div>
            </div>
            <div class="form-actions">
              <button class="btn btn-primary" ng-click="saveCompanyProfile()" ng-disabled="settingsCompanyProfile.$invalid">Save</button>
            </div>
          </fieldset>
        </form>
      </div>

      <div ng-class="{active:selectedTab == 'licensed-regions'}" class="tab-pane" id="licensed-regions">
        <h4>Current Subscription Plan: {{company.subscription_plan}}</h4>
        <div class="national-subscription" ng-show="company.subscription_plan == 'subout-national-service'">
          <div class="text-centered">
            <button class="btn btn-primary" ng-disabled="companyProfile.upgraded_recently" ng-click="updateProduct('state-by-state-service')">Downgrade to state by state plan</button>
          </div>
          <div class="downgrade-instructions" ng-show="companyProfile.upgraded_recently">You upgraded within the past month.  Before being able to downgrade you will need to wait until at least one month has past since your last upgrade.</div>
        </div>
        <div ng-show="company.subscription_plan == 'free'" class="text-centered">
          <a class="btn btn-primary" href="{{nationalSubscriptionUrl}}?reference={{company._id}}">Upgrade to national plan for ${{national_product.price_in_cents/100}}</a><br><br>
          <a class="btn btn-primary" href="{{stateByStateSubscriptionUrl}}?reference={{company._id}}">Upgrade to state by state plan</a>
        </div>
        <div ng-show="company.subscription_plan == 'state-by-state-service'">
          <div class="text-centered">
            <button class="btn btn-primary" ng-click="updateProduct('subout-national-service')">Upgrade to national plan for ${{national_product.price_in_cents/100}}</button>
          </div>
          <hr/>
          <div style="float:right">
            <div class="total-price">Total price: ${{totalPrice}}</div>
          </div>
          <h4>Or add individual regions:</h4>
          <form name="settingsLicensedRegions" class="form-horizontal" novalidate>
            <div class="region-checkboxes">
              <fieldset class="regions-table">
                <label ng-repeat="(region_name, region_abbr) in ALL_REGIONS" for="input-region-{{region_abbr}}" class="checkbox">
                  <div>
                    <input
                      id="input-region-{{region_abbr}}"
                      type="checkbox"
                      name="regions[{{ region_abbr }}]"
                      ng-model="companyProfile.allRegions[region_name]"
                      ng-change="updateTotalPrice()"
                      ng-disabled="companyProfile.allRegions[region_name] && companyProfile.upgraded_recently"
                      value="1">
                      {{region_name}}(${{regionPrice(region_name)}})
                  </div>
                </label>
              </fieldset>
              <div class="form-actions">
                <button class="btn btn-primary" ng-click="saveLicensedRegions()">Save</button>
                <button class="btn cancel" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
