<div id="dashboard">
  <div class="row">
    <div id="sidebar" class="col-md-3 col-sm-3 filters">
      <div class="welcome display-message">
        <span class="display-message-extra">Welcome</span>
        <span class="company display-message-subject">{{company.name}}!</span>
      </div>
      <div class="info-label-heading">Filter My View By:</div>
      <section id="filters">
        <section class="title"><h5>Opportunity Type</h5></section>
        <section class="content">
          <ul>
            <li ng-repeat="filter in filters" class="filter" ng-class="{active: $location.search().opportunity_type == filter.name, red: filter.active_red}"
            title="{{filter.name}}">
            <i class="glyphicon {{filter.icon}}"></i> <a ng-click="setOpportunityTypeFilter(filter.name)">{{filter.name}}</a>
            </li>
          </ul>
        </section>
      </section>
      <section id="event_types" class="filters">
        <section class="title"><h5>Event Type</h5></section>
        <section class="content">
          <ul>
            <li class="filter" ng-class="{active: $location.search().event_type == 'opportunity_created'}"><a ng-click="setEventType('opportunity_created')">New Opportunities</a></li>
            <li class="filter" ng-class="{active: $location.search().event_type =='bid_created'}"><a ng-click="setEventType('bid_created')">Recent Bids</a></li>
            <!-- <li class="filter" ng-class="{active: $location.search().event_type =='opportunity_bidding_won'}"><a ng-click="setEventType('opportunity_bidding_won')">Recently Won</a></li> -->
            <li class="filter" ng-class="{active: $location.search().event_type =='opportunity_canceled'}"><a ng-click="setEventType('opportunity_canceled')">Cancellations</a></li>
          </ul>
        </section>
      </section>
      <section id="regions">
        <section class="title"><h5>Region</h5></section>
        <section  class="hidden-xs hidden-sm content">
          <select data-placeholder="-- Select Region --" ng-model="regionFilter" ui-select2>
            <option value=""></option>
            <option ng-repeat="r in regionFilterOptions" value={{r}} data-abbreviated_name="{{r}}">{{r}}</option>
          </select>
          <div class="clearfix"></div>
        </section>
        <section  class="visible-xs visible-sm content">
          <select class="form-control"  ng-model="regionFilter">
            <option value="" selected="selected">-- Select Region --</option>
            <option ng-repeat="r in regionFilterOptions" value={{r}} data-abbreviated_name="{{r}}">{{r}}</option>
          </select>
          <div class="clearfix"></div>
        </section>
      </section>

      <!--<section id="site-info">
        <section class="title"><h5>Site Infomation</h5></section>
        <section  class="content">
          <a href="http://subout.com/terms-conditions" target="_blank">How to Cancel your account</a>
          <br/>
          Email: support@subout.com
        </section>
      </section>-->
    </div>
    <div class="col-md-9 col-sm-9">

      <div class="alert alert-info" ng-show="company.canAddFreeBuses()">
          Your subscription includes Roadside Assistance for 2 of your vehicles. 
          <a href="#modal" data-toggle="modal" ng-click="displaySettings('vehicles')" style="text-decoration:underline;">Click here to register your vehicles</a>
      </div>
      <section id="activities" when-scrolled="loadMoreEvents()">
        <div id="toolbar">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="display-message sales-info" sales-info-messages="salesInfoMessages"></div>
              <div class="info-label-heading">
                <span ng-show="hasAnyFilter()">Events View Filtered By:</span>
                <span ng-hide="hasAnyFilter()">All Events:</span>
              </div>
            </div>
            <div class='col-md-8 col-sm-8'>
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group clearfix">
                    <a href="#modal" class="btn btn-primary pull-right" data-toggle="modal" ng-click="setOpportunity({}); displayNewOpportunityForm()">Post new opportunity</a>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div id="search" class="form-group">
                    <input id="search-listing" class="col-md-11 col-sm-10 col-xs-9" ui-keypress="{13:'fullTextSearch($event)'}" ng-model="query" placeholder="Search listings for..."/>
                    <div class="glyphicon glyphicon-search"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="pills" class="form-group clearfix" ng-show="hasAnyFilter()">
            <div class="pill" ng-show="$location.search().opportunity_type">
              {{$location.search().opportunity_type}}<button type="button" ng-click="setOpportunityTypeFilter($location.search().opportunity_type)" class="close">×</button>
            </div>
            <div class="pill" ng-show="$location.search().event_type">
              {{eventTypeLabel($location.search().event_type)}}<button type="button" ng-click="setEventType($location.search().event_type)" class="close">×</button>
            </div>
            <div class="pill region" ng-repeat="region in filterRegions">
              {{region}}<button type="button" ng-click="removeRegionFilter(region)" class="close">×</button>
            </div>
            <div class="pill" ng-show="$location.search().company_id">
              {{companyName($location.search().company_id)}}<button type="button" ng-click="clearCompanyFilter()" class="close">×</button>
            </div>
            <div class="pill" ng-show="$location.search().q">
              {{$location.search().q}}<button type="button" ng-click="query=null;fullTextSearch()" class="close">×</button>
            </div>
            <a class="clear-filters" ng-click="clearFilters()">
              Clear All
            </a>
          </div>
        </div>
        <section id="activity-stream">
          <div class="hidden-xs hidden-sm event clearfix"
            ng-class="{expanded: event.selected, owner: event.actor._id == company._id}"
            ng-repeat="event in events"
            ng-init="opportunity=event.eventable; actor=event.actor; action=event.action">
            <div class="event-summary">
              <div class="row">
                <span class="col-md-3">
                  <i class="glyphicon {{opportunity.icon}}" title="{{opportunity.type}}"></i>
                  <i ng-show="opportunity.ada_required" class="ada-required" title="ADA vehicle"></i>
                  <span class='created-at timeago' ng-cloak relative-time title="{{event.created_at}}">{{event.created_at|date}}</span>
                </span>
                <span class="col-md-9 col-sm-9">
                  <span class="opportunity-name">
                    <a ng-click="toggleEvent(event)" title="{{opportunity.name}}" ng-cloak>
                      {{opportunity.name}}
                    </a>
                  </span>
                  <span class="event-region" ng-cloak ng-show="!opportunity.is_for_special_region">{{ALL_REGIONS[opportunity.start_region]}}-&gt;{{ALL_REGIONS[opportunity.end_region]}}</span>
                  <span class="event-region" ng-cloak ng-show="opportunity.is_for_special_region">{{opportunity.special_region}}</span>
                  <span class="event-action" ng-cloak>
                    {{actionDescription(action)}}
                  </span>
                  <a href="#modal" data-toggle="modal" ng-click="displayCompanyProfile(actor._id)"></a>

                  <div class="pull-right expand-collapse">
                    <a class="reference-number" ng-click="refNumSearch(event.eventable.reference_number)">#{{event.eventable.reference_number}}</a>
                    <i ng-click="toggleEvent(event)" title="{{{true: 'Collapse'}[event.selected] || 'Expand'}}" class="glyphicon" ng-class="{true: 'glyphicon-chevron-down'}[event.selected] || 'glyphicon-chevron-right'"></i>
                  </div>
                </span>
              </div>
            </div>
            <div class="eventable-details" ng-show="event.selected" class="action-buttons">
              <div class="clearfix">
                <div class="col-md-offset-3 col-md-6">
                  <div class="description">
                    <div><strong>Description</strong></div>
                    <div class="content">{{event.eventable.description}}</div>
                    <div class="help-block"><div class="text-danger" ng-bind-html-unsafe="event.eventable.buyer_message"></div></div>
                  </div>
                  <div class="winner" ng-show="event.eventable.winning_bid_id">
                    <span class="label-field">Winning Amount: </span> 
                    <span>{{ event.eventable.winner.amount | soCurrency }}</span>
                    <span ui-if="event.eventable.winner.vehicle_count > 1">({{ event.eventable.winner.vehicle_count }} vehicles)</span>
                  </div>
                  <div ng-show="event.eventable.vehicle_count > 1">
                    <span>Vehicles needed:</span> {{event.eventable.vehicle_count}}<br />
                  </div>
                  <div ng-show="!event.eventable.is_for_special_region">
                    <span>Pick up:</span> {{event.eventable.start_date | soShortDate}} {{event.eventable.start_time}}<br />
                    <span>Drop off:</span> {{event.eventable.end_date | soShortDate}} {{event.eventable.end_time}}
                  </div>
                  <div ng-show="event.eventable.is_for_special_region">
                    <span>Location:</span> {{event.eventable.special_region}}<br />
                  </div>
                  <div>
                    <span>Created on:</span> {{event.eventable.created_at|date}}
                  </div>
                  <div>
                    <div ng-hide="event.eventable.winning_bid_id">
                      <div ng-show="event.eventable.status == 'In progress' || event.eventable.status == 'In negotiation'">
                        <span>Bidding ends:</span>
                        <span ng-class='{relative_time:event.eventable.bidding_ends_at}' title="{{event.eventable.bidding_ends_at}}">{{event.eventable.bidding_ends_at|date}}</span>
                      </div>
                      <div ng-show="event.eventable.status && event.eventable.status != 'In progress' && event.eventable.status != 'In negotiation'" class="warning">
                        <span>Bidding ended</span>
                      </div>
                      <div ng-show="event.eventable.reserve_amount">
                        <span>Starting price: </span>{{event.eventable.reserve_amount | soCurrency}}
                      </div>
                      <div ng-show="event.eventable.quick_winnable">
                        <span>Buy now:</span> {{event.eventable.win_it_now_price | soCurrency}}
                      </div>
                    </div>
                  </div>
                  <div style="display:none" ng-show="event.eventable._id">
                    <div>
                      <div ng-show="opportunity.buyer_id != company._id && (event.eventable.status == 'In progress' || event.eventable.status == 'In negotiation')">
                        <div>
                          <a href="#modal" class="btn btn-success btn-small" data-toggle="modal" ng-click="displayNewBidForm(event.eventable)">Bid</a>
                        </div>
                        <div ng-show="opportunity.quick_winnable" class="win-it-now-button-wrapper">
                          <a class="btn btn-success btn-small win-it-now" ng-click="winOpportunityNow(opportunity)">Win Now ({{opportunity.win_it_now_price | soCurrency}})</a>
                        </div>
                      </div>
                      <div>
                        <a href="#/opportunities/{{event.eventable.reference_number}}">See more...</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <a ng-show="event.eventable.image_url && !isOldBrowser" rel="lightbox" href="{{event.eventable.large_image_url}}" title="{{event.eventable.name}}">
                    <img class="img-responsive" ng-src="{{event.eventable.image_url}}" />
                  </a>
                  <a ng-show="event.eventable.image_url && isOldBrowser"  href="{{event.eventable.large_image_url}}" title="{{event.eventable.name}}" target="_blank">
                    <img class="img-responsive" ng-src="{{event.eventable.image_url}}" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- mobile view event stream -->
          <div class="visible-xs visible-sm">
            <table class="table table-border event" ng-class="{expanded: event.selected, owner: event.actor._id == company._id}"
              ng-repeat="event in events"
              ng-init="opportunity=event.eventable; actor=event.actor; action=event.action">
              <tr>
                <td>
                  <i class="glyphicon {{opportunity.icon}}"></i>
                  <span class='created-at timeago' ng-cloak relative-time title="{{event.created_at}}">{{event.created_at|date}}</span>
                </td>
                <td>
                  <div class="pull-right expand-collapse">
                    <a class="reference-number" ng-click="refNumSearch(event.eventable.reference_number)">#{{event.eventable.reference_number}}</a>
                    <i ng-click="toggleEvent(event)" title="{{{true: 'Collapse'}[event.selected] || 'Expand'}}" class="glyphicon" ng-class="{true: 'glyphicon-chevron-down'}[event.selected] || 'glyphicon-chevron-right'"></i>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan='2'>
                  <span class="event-region table-header" ng-cloak ng-show="!opportunity.is_for_special_region">{{ALL_REGIONS[opportunity.start_region]}}-&gt;{{ALL_REGIONS[opportunity.end_region]}}</span>
                  <span class="event-region table-header" ng-cloak ng-show="opportunity.is_for_special_region">{{opportunity.special_region}}</span>
                  <span class="event-action" ng-cloak>
                    {{actionDescription(action)}}
                  </span>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <span class="opportunity-name">
                    <a ng-click="toggleEvent(event)" title="{{opportunity.name}}" ng-cloak>
                      {{opportunity.name}}
                    </a>
                  </span>
                </td>
              </tr>
              <tr ng-show="event.selected">
                <td class="table-header">
                  Description
                </td>
                <td>
                  <div class="content">{{event.eventable.description}}</div>
                  <div class="help-block"><div class="text-danger" ng-bind-html-unsafe="event.eventable.buyer_message"></div></div>
                </td>
              </tr>
              <tr ng-show="event.eventable.winning_bid_id && event.selected">
                <td class="table-header">Winner:</td>
                <td>{{event.eventable.winner.name}}</td>
              </tr>
              <tr ng-show="event.eventable.winning_bid_id && event.selected">
                <td class="table-header">Winning Amount:</td>
                <td class="table-header"><span>{{ event.eventable.winner.amount | soCurrency }}</span></td>
              </tr>
              <tr ng-show="!event.eventable.is_for_special_region && event.selected">
                <td class="table-header">Departs:</td>
                <td>{{event.eventable.start_date|date}} {{event.eventable.start_time}}</td>
              </tr>
              <tr ng-show="!event.eventable.is_for_special_region && event.selected">
                <td class="table-header">Arrives:</td>
                <td>{{event.eventable.end_date|date}} {{event.eventable.end_time}}</td>
              </tr>
              <tr ng-show="event.eventable.is_for_special_region && event.selected">
                <td class="table-header">Location:</td>
                <td>{{event.eventable.location}}</td>
              </tr>
              <tr ng-show="event.selected">
                <td class="table-header">Created on:</td>
                <td>{{event.eventable.created_at|date}}</td>
              </tr>
              <tr ng-show="!event.eventable.winning_bid_id && event.selected">
                <td class="table-header">Bidding Ends:</td>
                <td class="table-header"><span ng-class='{relative_time:event.eventable.bidding_ends_at}' title="{{event.eventable.bidding_ends_at}}">{{event.eventable.bidding_ends_at|date}}</span></td>
              </tr>
              <tr ng-show="!event.eventable.winning_bid_id && event.selected && event.eventable.quick_winnable">
                <td>Buy now:</td>
                <td>{{event.eventable.win_it_now_price | soCurrency}}</td>
              </tr>
              <tr ng-show="event.selected && event.eventable._id">
                <td ng-show="opportunity.buyer_id != company._id && opportunity.status && (opportunity.status == 'In progress' || opportunity.status == 'In negotiation')" colspan='2'>
                  <a href="#modal" class="btn btn-success btn-small" data-toggle="modal" ng-click="displayNewBidForm(opportunity)">Bid</a>
                  <div ng-show="opportunity.quick_winnable" class="win-it-now-button-wrapper">
                    <a class="btn btn-success btn-small" ng-click="winOpportunityNow(opportunity)">Win Now</a>
                  </div>
                </td>
              </tr>
              <tr ng-show="event.selected && event.eventable._id">
                <td colspan='2'><a href="#/opportunities/{{event.eventable.reference_number}}">See more...</a></td>
              </tr>
              <tr ng-show="event.eventable.image_url && event.selected">
                <td colspan="2">
                  <a ng-show="!isOldBrowser" rel="lightbox" href="{{event.eventable.large_image_url}}" title="{{event.eventable.name}}">
                    <img ng-src="{{event.eventable.image_url}}" />
                  </a>
                  <a ng-show="isOldBrowser"  href="{{event.eventable.large_image_url}}" title="{{event.eventable.name}}" target="_blank">
                    <img ng-src="{{event.eventable.image_url}}" />
                  </a>
                </td>
              </tr>
            </table>
          </div>
          <!-- end here -->
        </section>
        <div class="load-more" ng-hide="noMoreEvents">
          <span ng-show="loading" class="content-loading-animation"></span>
        </div>
      </section>
    </div>
  </div>
</div>
