<div id="favorites">
  <div class="welcome display-message top-banner pull-left">
    <span class="display-message-extra">Welcome</span>
    <span class="company display-message-subject">{{company.name}}!</span>
    <span class="display-message sales-info">{{salesInfoMessage}}</span>
  </div>
  <div class="new-favorite">
    <a ng-show="!isMobile" href="#modal" data-toggle="modal" ng-click="displayNewFavoriteForm()" class="btn btn-primary add-new-favorite">Add new Favorite</a>
    <a ng-show="isMobile" href="#/add-favorite" ng-click="displayNewFavoriteForm()" class="btn btn-primary add-new-favorite">Add new Favorite</a>
  </div>
  <table ng-show="!isPhone" class="table">
    <tr>
      <th colspan="2">Company</th>
      <th>Bids</th>
      <th>Opportunities</th>
      <th>&nbsp;</th>
    </tr>
    <tr ng-repeat="company in favoriteCompanies" >
      <td >
        <span class="span2">
          <img ng-show="company.logo" src="{{company.logo}}" />
          <div ng-hide="company.logo">No Logo Available</div>
        </span>
      </td>
      <td>
        <span class="span4">
          <a href="#modal" data-toggle="modal" ng-click="displayCompanyProfile(company._id)">{{company.name}}</a>
        </span>
      </td>
      <td>
        <span class="span2">{{company.bids_count}}</span>
      </td>
      <td>
        <span class="span2">{{company.opportunities_count}}</span>
      </td>
      <td>
        <span class="span2">
          <a class="btn btn-small btn-danger pull-right" ng-click="removeFavorite(company)">Remove</a>
        </span>
      </td>
    </tr>
  </table>

  <table ng-show="isPhone" class="table table-border" ng-repeat="company in favoriteCompanies">
    <tr>
      <td class="table-header">Company</td>
      <td>
        <img ng-show="company.logo" src="{{company.logo}}" />
        <div ng-hide="company.logo">No Logo Available</div>
        <a href="#modal" data-toggle="modal" ng-click="displayCompanyProfile(company._id)">{{company.name}}</a>
      </td>
    </tr>
    <tr>
      <td class="table-header">Bids</td>
      <td><span class="span2">{{company.bids_count}}</span></td>
    </tr>
    <tr>
      <td class="table-header">Opportunities</td>
      <td>
        <span class="span2">{{company.opportunities_count}}</span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <!-- <span class="span2"> -->
          <a class="btn btn-small btn-danger pull-right" ng-click="removeFavorite(company)">Remove</a>
        <!-- </span> -->
      </td>
    </tr>
  </table>
</div>
