<div id="bid-new" ng-controller="MyBidCtrl">
    <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">x</button>
            <h3>Your Bids</h3>
    </div>
    <div class="modal-body">
        <section class="section-content">
          <table class="table">
            <tr>
              <th>Opportunity</th>
              <th>Amount</th>
              <th>Date</th>
            </tr>  
            <tr ng-repeat="bid in my_bids" >
              <td>{{bid.opportunity.name}}</td>
              <td>${{bid.amount}}</td>
              <td>{{bid.created_at | date}}</td>
            </tr>
          </table>
        </section>
    </div>
</div>
