<div id="bids">
  <div class="welcome display-message top-banner">
    <span class="display-message-extra">Welcome</span>
    <span class="company display-message-subject">{{company.name}}!</span>
    <span class="display-message sales-info" sales-info-messages="salesInfoMessages"></span>
  </div>
  <div class="pull-right" ng-show="maxPage > 1" ng-include="'pagination'"></div>
  <table ng-show="!isPhone" class="table">
    <tr>
      <th>Opportunity</th>
      <th>Amount</th>
      <th>Comment</th>
      <th>Date</th>
    </tr>
    <tr ng-repeat="bid in my_bids" >
      <td><a href="#/opportunities/{{bid.opportunity.reference_number}}">{{bid.opportunity.name}}</a></td>
      <td>{{bid.amount | currency}}</td>
      <td>{{bid.comment}}</td>
      <td>{{bid.created_at | date}}</td>
    </tr>
  </table>

  <table ng-show="isPhone" ng-repeat="bid in my_bids" class="table table-border">
    <tr>
      <td class="table-header">Opportunity</td>
      <td><a href="#/opportunities/{{bid.opportunity.reference_number}}">{{bid.opportunity.name}}</a></td>
    </tr>
    <tr>
      <td class="table-header">Amount</td>
      <td>${{bid.amount}}</td>
    </tr>
    <tr>
      <td class="table-header">Comment</td>
      <td>{{bid.comment}}</td>
    </tr>
    <tr>
      <td class="table-header">Date</td>
      <td>{{bid.created_at | date}}</td>
    </tr>
  </table>
  <div class="pull-right" ng-show="maxPage > 1" ng-include="'pagination'"></div>
</div>
