<div id="company-detail">
  <div class="welcome display-message top-banner">
    <span class="display-message-extra">Welcome</span>
    <span class="company display-message-subject">{{company.name}}!</span>
    <span class="display-message sales-info" sales-info-messages="salesInfoMessages"></span>
  </div>

    <hr/>
    <div class="alert alert-info" ng-show="notice">
      {{notice}}
    </div>
    <div class="alert alert-info" ng-show="rating.editable">
      Please give rating to this company.
    </div>
    <section class="section-content">
      <div class="row-fluid">
        <div class="span3">
            <h4>{{detailed_company.name}}</h4>
            <div ng-show="detailed_company.score">
              <span ng-repeat="s in stars" ng-class="{ hide: s > detailed_company.score }"> <img src="/img/icon-star.jpg"> </span>
                ( {{detailed_company.score}} )
            </div>
            <div><img ng-show="detailed_company.logo" class="logo" ng-src="{{detailed_company.logo}}" /></div>
            <div class="add-to-favorites" ng-show="detailed_company.canBeAddedAsFavorite(company)">
              <a ng-click="addToFavorites(detailed_company)">Add to Favorites</a>
            </div>
        </div>
       
        <div class="span9">
          <div class="row-fluid">
              <div class="span3">DOT Number:</div>
              <div class="span9"><a target="_blank" href="http://www.safer.fmcsa.dot.gov/query.asp?searchtype=ANY&query_type=queryCarrierSnapshot&query_param=USDOT&original_query_param=NAME&query_string={{detailed_company.dot_number}}">{{detailed_company.dot_number}}</a></div>
          </div>

          <div class="row-fluid">
              <div class="span3">Insurance</div>
              <div class="span9"><a target="_blank" href="http://li-public.fmcsa.dot.gov/LIVIEW/pkg_carrquery.prc_carrlist?n_dotno={{detailed_company.dot_number}}">{{detailed_company.insurance}}</a></div>
          </div>

          <div class="row-fluid">
              <div class="span3">Fleet Size:</div>
              <div class="span9">{{detailed_company.fleet_size}}</div>
          </div>

          <div class="row-fluid">
              <div class="span3">Contact:</div>
              <div class="span9">
                <a href="mailto:{{detailed_company.email}}">{{detailed_company.contact_name}} ({{detailed_company.email}})</a>
              </div>
          </div>

          <div class="row-fluid">
              <div class="span3">Contact Phone:</div>
              <div class="span9">
                {{detailed_company.contact_phone}}
              </div>
          </div>

          <div class="row-fluid">
              <div class="span3">Website:</div>
              <div class="span9">
                  <a href="{{detailed_company.website | websiteUrl}}" target="_blank">{{detailed_company.website}}</a>
              </div>
          </div>

          <div class="row-fluid">
              <div class="span3">TPA:</div>
              <div class="span9">{{detailed_company.tpa}}</div>
          </div>

          <form name="newRating" id="ratingForm" class="form-horizontal" novalidate ng-show="rating.editable">
            <hr/>
            <h5>Rating from you</h5>
            <div class="row-fluid question">
                <div class="span3">1. Communication</div>
                <div class="span3">
                  <span ng-repeat="s in stars" ng-class="{ hide: s > rating.communication }"> <img src="/img/icon-star.jpg">  </span>
                </div>
                <div class="span6" ng-show="rating.editable">
                  <select id="rating_communication" name="rating_communication" ng-model="rating.communication" ng-options="s for s in stars" required>
                    <option value=""></option>
                  </select>
                </div>
            </div>
            <div class="row-fluid question">
                <div class="span3">2. Punctuality</div>
                <div class="span3">
                  <span ng-repeat="s in stars" ng-class="{ hide: s > rating.punctuality }"> <img src="/img/icon-star.jpg">  </span>
                </div>
                <div class="span6" ng-show="rating.editable">
                  <select id="rating_punctuality" name="rating_punctuality" ng-model="rating.punctuality" ng-options="s for s in stars" required>
                    <option value=""></option>
                  </select>
                </div>
            </div>
            <div class="row-fluid question">
                <div class="span3">3. Ease of Payment</div>
                <div class="span3">
                  <span ng-repeat="s in stars" ng-class="{ hide: s > rating.ease_of_payment }"> <img src="/img/icon-star.jpg">  </span>
                </div>
                <div class="span6" ng-show="rating.editable">
                  <select id="rating_ease_of_payment" name="rating_ease_of_payment" ng-model="rating.ease_of_payment" ng-options="s for s in stars" required>
                    <option value=""></option>
                  </select>
                </div>
            </div>
            <div class="row-fluid question">
                <div class="span3">4. Over all experience</div>
                <div class="span3">
                  <span ng-repeat="s in stars" ng-class="{ hide: s > rating.over_all_experience }"> <img src="/img/icon-star.jpg">  </span>
                </div>
                <div class="span6" ng-show="rating.editable">
                  <select id="rating_over_all_experience" name="rating_over_all_experience" ng-model="rating.over_all_experience" ng-options="s for s in stars" required>
                    <option value=""></option>
                  </select>
                </div>
            </div>
            <div class="row-fluid question">
                <div class="span3">5. How likely are you to use this company again</div>
                <div class="span3">
                  <span ng-repeat="s in stars" ng-class="{ hide: s > rating.like_again }"> <img src="/img/icon-star.jpg">  </span>
                </div>
                <div class="span6" ng-show="rating.editable">
                  <select id="rating_like_again" name="rating_like_again" ng-model="rating.like_again" ng-options="s for s in stars">
                    <option value=""></option>
                  </select>
                </div>
            </div>
            <div class="row-fluid question">
                <div class="span3">6. Did this trip travel as expected?</div>
                <div class="span3">{{ (rating.trip_expected) && ("Yes") || ("No") }}</div>
                <div class="span6" ng-show="rating.editable">
                  <label class="radio">
                    <input name="rating_trip_expected" type="radio" ng-model="rating.trip_expected" ng-click="rating.trip_expeted=1" value="1">
                    Yes, it did
                  </label>
                  <label class="radio">
                    <input name="rating_trip_expected" type="radio" ng-model="rating.trip_expected" ng-click="rating.trip_expected=0" value="0">
                    No, it didn't
                  </label>
                </div>
            </div>
            <div class="form-actions" ng-show="rating.editable">
              <button ng-click="updateRating()" class="btn btn-primary" ng-disabled="newRating.$invalid">
                Give Rating To This Company
              </button>
            </div>
          </form>


          <div id="ratings" ng-show="detailed_company.ratings_taken.length">
            <hr />
            <h5>RATINGS THIS COMPANY TAKEN</h5>
            <div ng-repeat="r in detailed_company.ratings_taken" class="row-fluid" ng-show="r.score" >
              <div class="span3">
                <a data-toggle="modal" href="#modal"  ng-click="displayCompanyProfile(r.rater._id)">{{r.rater.name}}</a> gave <a ng-click="displayRating(r)">({{r.score}}) score</a>
              </div>
              <div class="span9">
                  <span ng-repeat="s in stars" ng-class="{ hide: s > r.score }"> <img src="/img/icon-star.jpg">  </span>
              </div>
            </div>
          </div>
        </div>
     </div>
    </section>
</div>
