<div id="dashboard">
      <div class="row-fluid">
        <div class="span4">
            <section id="company" class="well">
                <section class="content">
                    <div id="company_logo"><img title="{{token.company.name}}" ng-src="{{'img/company/' + company._id + '.png'}}"></div>
                    <div id="company_links">
                        <a href="#modal" data-toggle="modal" ng-click="setModal('partials/bids.html')">Bids</a>
                        | <a href="#modal" data-toggle="modal" ng-click="setModal('partials/opportunities.html')">Opportunities</a>
                        | <a href="#modal" data-toggle="modal" ng-click="setModal('partials/favorites.html')">Favorites</a>
                    </div>
                </section>
            </section>
            <section id="filters" class="well">
                <section class="title"><h5>Filters</h5></section>
                <section class="content">
                    <ul>
                        <li ng-repeat="filter in filters" class="filter row-fluid" ng-class="{active: filter.active==true,noneactive: filter.active==false}" title="{{filter.name}}"  ng-click="setFilter(filter)">
                            <div class="span1"><div class="color" style="background-image:url({{filter.icon}}); background-size: 100% auto; background-repeat: no-repeat;"></div></div>
                            <div class="span9"><div class="name" style="background:{{filter.color}}">{{filter.name}}</div></div>
                        </li>
                    </ul>
                </section>
            </section>
            <section id="tags" class="well">
                <section class="title"><h5>Tags</h5></section>
                <section class="content">
                    <ul>
                        <li ng-repeat="tag in tags" class="tag" ng-class="{label: tag.active==true}"  title="{{tag.name}}" ng-click="setTag(tag)">
                            {{tag.name}}
                        </li>
                    </ul>
                </section>
            </section>
        </div>
        <div class="span8">

           <section id="activities" class="well">

              <div id="toolbar">
                    <div class="row-fluid">
                        <div class="span3">
                          <a href='#'>Today</a> |
                          <a href='#'>This Week</a> |
                          <a href='#'>Older</a>
                        </div>
                        <div class="span9">
                            <div id="search">
                                <input class="span11" ng-model="query" />
                                <a href="#search" class="span1"><img src="/img/toolbar-search.png"></a>
                            </div>
                        </div>
                    </div>
              </div>
              
              <table class="table table-striped">
                <tr class="event" ng-repeat="event in events | filter:query |filter:searchByFilter | filter:searchByTag | limitTo:20">
                    <td>
                        
                      <span ui-if="event.eventable_type=='Opportunity'" ng-init="opportunity=event.eventable">
                        <span class="event-title row-fluid">
                          <div class="span1"><img ng-src="/img/filters/{{opportunity.type.replace(' ', '-') | lowercase }}.png"></div>
                          <div class="span11">
                            <h3>
                              <a href="/opportunities/{{opportunity._id}}">{{opportunity.name}}</a>
                              <ng:timeago from="Mon, 27 Feb 2012 15:28:53 -0800"></ng:timeago>
                            </h3>
                            <div>Buyer: {{event.initiated_by_name}}</div>
                            <div>{{opportunity.description}}</div>
                            <div>
                              Created: <span class='timeago' relative-time title="{{opportunity.created_at}}">{{opportunity.bidding_ends|date}}</span>
                              Ends On: <time class="timeago" relative-time datetime="{{opportunity.bidding_ends}}">{{opportunity.bidding_ends|date}}</time>
                            </div>
                            <div>
                               <a href="#modal" data-toggle="modal" ng-click="setOpportunity(opportunity); setModal('partials/bid.html')">Bid</a> * 
                               <a ui-if="opportunity.quick_winnable" href='#'>Win Now for {{opportunity.win_it_now_price }}</a> *
                               <a href='#'>Watch</a>
                            </div>
                          </div>
                        </span>
                      </span>
                      
                      <span ui-if="event.eventable_type=='Bid'" ng-init="bid=event.eventable">
                        <span class="event-title row-fluid">
                          <div class="span1"><img ng-src="/img/filters/bid.png"></div>
                          <div class="span11">
                            <h3>
                              {{event.description}}
                            </h3>
                            <div>From: {{event.initiated_by_name}}</div>
                            <div>${{bid.amount}} | {{event.updated_at|date}}</div>
                          </div>
                        </span>
                      </span>
                      
                    </td>
                </tr>
              </table>
              
          </section>

        </div>
      </div>
</div>
