<div id="topbar" class="container">
    <div class="inner">
        <div id="navitation">
            <a href="#" id="btn_back"><img src="/img/toolbar-back.png"></a>
            <a href="#" id="btn_next"><img src="/img/toolbar-next.png"></a>
            <a href="#" id="btn_close"><img src="/img/toolbar-close.png"></a>
        </div>
    </div>
</div>
<header id="header">
    <div class="inner">
        <div class="row-fluid">
            <div class="span6">
                <div id="logo"><a href="#/dashboard"><img src="/img/logo.png"></a></div>
            </div>
            <div class="span6">
                <nav id="navigator">
                    <a href="#modal" data-toggle="modal" ng-click="setModal('partials/opportunity-new.html')" ng:show="user">New Opportunity</a>
                    <a href="#modal" data-toggle="modal" ng-click="setModal('partials/settings.html')" ng:show="user">Settings</a>
                    <a href="#modal" data-toggle="modal" ng-click="setModal('partials/help.html')" ng:show="user">Help</a>
                    <a href="" ng-click="signOut();" ng:show="user">Sign Out</a>
                </nav>
                <!--nav-->
            </div>   
        </div>
    </div>
</header>