<div id="toolbar">
    <div class="inner">
        <div class="row-fluid">
            <div class="span6">
                <div id="navitation">
                    <a href="#" id="btn_back"><img src="/img/toolbar-back.png"></a>
                    <a href="#" id="btn_next"><img src="/img/toolbar-next.png"></a>
                    <a href="#" id="btn_close"><img src="/img/toolbar-close.png"></a>
                </div>
            </div>
            <div class="span6">
                <div class="span6"></div>
                <div id="search" class="span6">
                    <input type="text" value="" placeholder="" class="span10">
                    <a href="#search" class="span2"><img src="/img/toolbar-search.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>
    
<header id="header">
    <div class="inner">
        <div class="row-fluid">
            <div class="span6">
                <div id="logo"><a href="#/dashboard"><img src="/img/logo.png"></a></div>
            </div>
            <div class="span6">
                <nav id="navigator">
                    <a href="#/opportunity-new">New Opportunity</a>
                    <a href="#/settings">Settings</a>
                    <a href="#/help">Help</a>
                    <a href="#/signout">Sign Out</a>
                </nav>
                <!--nav-->
            </div>   
        </div>
    </div>
</header>