<div id="opportunity-new" ng-controller="OpportunityCtrl">
    <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button">x</button>
            <h3>Your Opportunities</h3>
    </div>
    <div class="modal-body">
        <section class="section-content">
          <table class="table">
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Ends</th>
              <th>Winning Bidder</th>
              <th>Amount</th>
            </tr>
            <tr ng-repeat="opportunity in opportunities" >
              <td><a data-target="#modal" ng-click="setOpportunity(opportunity); setModal('partials/opportunity-detail.html')">{{opportunity.name}}</a></td>
              <td>{{opportunity.description}}</td>
              <td>Tomorrow</td>
              <td>None</td>
              <td>$0.00</td>
            </tr>
          </table>
        </section>
    </div>
</div>
