<div id="opportunity-form">
  <div class="modal-header">
    <button data-dismiss="modal" class="close" type="button">x</button>
    <h3>Opportunity</h3>
  </div>
  <div class="modal-body">
    <form name="newOpportunity" class="form-horizontal" ng-controller="OpportunityFormCtrl" novalidate>
      <div class="control-group" ng-class="{error:newOpportunity.opportunity_name.$invalid}">
        <label for="opportunity_name" class="control-label">Opportunity Title *</label>
        <div class="controls">
          <input type="text" id="opportunity_name" name="opportunity_name" ng-model="opportunity.name" size="30" 
            class="input-xlarge" required>
            <p class="help-block">Using abbreviations, enter the vehicle type/capacity;<br />
              name of part; or name of emergency<br />
              ex) Langville, 8 Pass Limo
            </p>
        </div>
      </div>

      <div class="control-group" ng-class="{error:newOpportunity.opportunity_type.$invalid}">
        <label for="opportunity_type" class="control-label">Opportunity Type *</label>
        <div class="controls">
          <select id="opportunity_type" name="opportunity_type" ng-model="opportunity.type" ng-options="t for t in types" required>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label for="opportunity_tracking_id" class="control-label">Internal Memo or ID#</label>
        <div class="controls">
          <input type="text" id="opportunity_tracking_id" ng-model="opportunity.tracking_id" size="30" class="input-xlarge">
        </div>
      </div>

      <div class="control-group" ng-class="{error:newOpportunity.opportunity_description.$invalid}">
        <label for="opportunity_description" class="control-label">Description *</label>
        <div class="controls">
          <textarea id="opportunity_description" name="opportunity_description" rows="5" ng-model="opportunity.description" cols="40" class="input-xlarge" required></textarea>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <input class="cloudinary-fileupload" data-url="https://api.cloudinary.com/v1_1/subout/auto/upload" name="file" type="file"></input>
          <input type="hidden" id="opportunity_image_id" class="file-upload-public-id" value="{{opportunity.image_id}}" ng-model="opportunity.image_id">
          <div id="progress">
            <div class="bar" style="width: 0%;"></div>
          </div>
          <img class="image-preview" ng-src="{{opportunity.image_url}}"/>
        </div>
      </div>

      <div class="control-group" ng-show="opportunity.type == 'Emergency'">
        <label for="opportunity_contact_phone" class="control-label">Contact Phone #</label>
        <div class="controls">
          <input id="opportunity_contact_phone" type="text" ng-model="opportunity.contact_phone" size="30" class="input-xlarge">
        </div>
      </div>

      <div class="control-group two-lines" ng-class="{error:newOpportunity.opportunity_start_location.$invalid}">
        <label for="opportunity_start_location" class="control-label">Original Terminal or address *</label>
        <div class="controls">
          <input id="opportunity_start_location" name="opportunity_start_location" type="text" ng-model="opportunity.start_location" size="30" class="input-xlarge" required>
          <p class="help-block">ex) Sunnyvale, CA</p>
        </div>
      </div>

      <div class="control-group two-lines">
        <label for="opportunity_end_location" class="control-label">Destination<p class="help-block">(if applicable)</p></label>
        <div class="controls">
          <input id="opportunity_end_location" type="text" ng-model="opportunity.end_location" size="30" class="input-xlarge">
          <p class="help-block">ex) San Francisco, CA</p>
        </div>
      </div>

      <div class="control-group" ng-class="{error:newOpportunity.opportunity_start_date.$invalid}">
        <label for="opportunity_start_date" class="control-label">Start date *</label>
        <div class="controls">
          <input id="opportunity_start_date" name="opportunity_start_date" type="text" ng-model="opportunity.start_date" class="input-small" size="10" ui-date="dateOptions" ui-date-format required>
          <span class="add-on"><i class="icon-calendar"></i></span>
          <input type="text" class="input-small" ng-model="opportunity.start_time">
          <span class="time">Time</span>
        </div>
      </div>

      <div class="control-group" ng-class="{error:newOpportunity.opportunity_end_date.$invalid}">
        <label for="opportunity_end_date" class="control-label">End date *</label>
        <div class="controls">
          <input id="opportunity_end_date" name="opportunity_end_date" type="text" ng-model="opportunity.end_date" class="input-small" size="10" ui-date="dateOptions" ui-date-format required>
          <span class="add-on"><i class="icon-calendar"></i></span>
          <input type="text" class="input-small" ng-model="opportunity.end_time">
          <span class="time">Time</span>
        </div>
      </div>

      <div class="control-group" ng-class="{error:newOpportunity.opportunity_bidding_ends.$invalid}">
        <label for="opportunity_bidding_ends" class="control-label">Bidding ends</label>
        <div class="controls">
          <select id="opportunity_bidding_ends" name="opportunity_bidding_ends" ng-model="opportunity.bidding_duration_hrs" required>
            <option value="6">in 6 hours</option>
            <option value="12">in 12 hours</option>
            <option value="24">in 1 day</option>
            <option value="48">in 2 days</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label for="opportunity_quick_winnable" class="checkbox">
          <div class="controls">
            <input id="opportunity_quick_winnable" type="checkbox" ng-model="opportunity.quick_winnable" value="1">
            Enable "Win it now?"
          </div>
        </label>

        <label for="opportunity_for_favorites_only" class="checkbox">
          <div class="controls">
            <input id="opportunity_for_favorites_only" type="checkbox" ng-model="opportunity.for_favorites_only" value="1">
            Limit view to Favorite only?
          </div>
        </label>

        <label for="opportunity_forward_auction" class="checkbox">
          <div class="controls">
            <input id="opportunity_forward_auction" type="checkbox" ng-model="opportunity.forward_auction" value="1">
            Sell?
          </div>
        </label>
      </div>

      <div class="control-group">
        <label for="opportunity_win_it_now_price" class="control-label">Win it now price</label>
        <div class="controls">
          <input id="opportunity_win_it_now_price" type="text" ng-model="opportunity.win_it_now_price" size="30" class="input-small">
          <p class="help-block">ex) 500</p>
        </div>
      </div>

      <div class="form-actions">
        <button ng-click="save()" class="btn btn-primary" ng-disabled="newOpportunity.$invalid">
          Save Opportunity
        </button>
      </div>
    </form>
  </div>
</div>
