<div id="opportunity-detail" ng-controller="OpportunityDetailCtrl">
  <div class="modal-header">
    <button data-dismiss="modal" class="close" type="button">x</button>
    <h3>Opportunity - {{opportunity.name}}</h3>
  </div>
  <div class="modal-body">
    <div class="actions" ng-show="opportunity.bids.length == 0 && opportunity.buyer._id == company._id">
      <a data-target="#modal" ng-click="setOpportunity(opportunity); displayNewOpportunityForm()">Edit</a>
      <a class='btn btn-danger' ng-click="cancelOpportunity()">Cancel</a>
    </div>
    <div class="control-group" ng-show="opportunity.bidding_done">
      <div class="control-label">Won By: {{opportunity.winner.name}}</div>
      <div class="control-label">Winning Bid Amount: {{opportunity.winner.amount}}</div>
      <div class="control-label">(Closed)</div>
    </div>
    <dl class="dl-horizontal pull-left">
      <div ng-show="opportunity.buyer._id == company._id">
        <dt>Tracking ID:</dt>
        <dd>{{opportunity.tracking_id}}</dd>
      </div>
      <dt>Type:</dt>
      <dd>{{opportunity.type}}</dd>
      <dt>Description:</dt>
      <dd>{{opportunity.description}}</dd>
      <dt>Date range:</dt>
      <dd>{{opportunity.start_date| date:'MM/dd/yy'}} to {{opportunity.end_date| date:'MM/dd/yy'}}</dd>
      <dt>End location:</dt>
      <dd>{{opportunity.end_location}}</dd>
      <div ng-show="opportunity.quick_winnable">
        <dt>Buy now:</dt>
        <dd><strong>${{opportunity.win_it_now_price}}</strong></dd>
      </div>
    </dl>
    <img ng-src="{{opportunity.image_url}}" class="pull-right" />
    <div class="clearfix"></div>

    <hr />

    <h4>Bid History</h4>
    <table class="bid-history">
      <tr id="bid_{{bid._id}}" ng-repeat="bid in opportunity.bids">
        <td><strong>${{bid.amount}}</strong></td>
        <td>on <strong>{{bid.created_at | date:'MM/dd/yy'}}</strong></td>
        <td>by <a data-target="#modal" ng-click="setOtherCompanyViaId(bid.bidder._id); setModal('partials/company-profile.html')">{{bid.bidder.name}}</a></td>
        <td><a class='btn btn-primary btn-mini pull-right' ng-hide="opportunity.bidding_done" ng-click="selectWinner(bid)"><i class='icon-ok'> </i>Accept</a></td>
      </tr>
    </table>

  </div>
</div>
