<div id="page-settings" ng-controller="SettingCtrl">
  <div class="modal-header">
    <button data-dismiss="modal" class="close" type="button">x</button>
    <h3>Settings</h3>
    <div class="modal-loading-animation loading-animation"></div>
  </div>
  <div class="modal-body">
    <ul class="nav nav-tabs">
      <li ng-class="{active:selectedTab == 'user-login'}"><a href="#user-login" data-toggle="tab">User Login</a></li>
      <li ng-class="{active:selectedTab == 'company-profile'}"><a href="#company-profile" data-toggle="tab">Company Profile</a></li>
      <li ng-class="{active:selectedTab == 'fleet'}"><a href="#fleet" data-toggle="tab">Fleet</a></li>
      <li ng-class="{active:selectedTab == 'favorited-regions'}"><a href="#favorited-regions" data-toggle="tab">Regions</a></li>
      <li ng-class="{active:selectedTab == 'vehicles'}"><a href="#vehicles" data-toggle="tab">Vehicles</a></li>
    </ul>
    <div class="tab-content">
      <div ng-class="{active:selectedTab == 'user-login'}" class="tab-pane modal-content" id="user-login">
        <form name="settingsUserLogin" class="form-horizontal" novalidate>
          <fieldset>
            <p class="alert alert-error" ng:show="userProfileError">{{userProfileError}}</p>

            <div class="control-group" ng-class="{error:settingsUserLogin.user_email.$invalid}">
              <label for="user_email" class="control-label">Email *</label>
              <div class="controls">
                <input id="user_email" name="user_email" type="text" class="input-xlarge" ng:model="userProfile.email" required />
              </div>
            </div>
            
            <div class="control-group" ng-class="{error:settingsUserLogin.current_password.$invalid}">
              <label for="current_password" class="control-label">Current Password *</label>
              <div class="controls">
                <input id="current_password"
                name="current_password"
                type="password"
                class="input-xlarge"
                ng:model="userProfile.current_password"
                required
                />
              </div>
            </div>

            <div class="control-group">
              <label for="password" class="control-label">New Password</label>
              <div class="controls">

                <input id="password"
                type="password"
                class="input-xlarge"
                ng:model="userProfile.password"
                />
              </div>
            </div>

            <div class="control-group">
              <label for="password_confirmation" class="control-label">Password Confirmation</label>
              <div class="controls">

                <input id="password_confirmation"
                type="password"
                class="input-xlarge"
                ng:model="userProfile.password_confirmation"
                />
              </div>
            </div>

            <div class="form-actions">
              <button class="btn btn-primary" ng:click="saveUserProfile()" ng-disabled="settingsUserLogin.$invalid">Save</button>
            </div>

          </fieldset>
        </form>
      </div>

      <div ng-class="{active:selectedTab == 'company-profile'}" class="tab-pane modal-content" id="company-profile">
        <form name="settingsCompanyProfile" class="form-horizontal" novalidate>
          <fieldset>
            <p class="alert alert-error" ng:show="companyProfileError">{{companyProfileError}}</p>

            <div class="control-group two-lines" ng-class="{error:settingsCompanyProfile.abbreviated_name.$invalid}">
              <label for="abbreviated_name" class="control-label">Company Abbreviated Name *</label>
              <div class="controls">

                <input id="abbreviated_name"
                name="abbreviated_name"
                type="text"
                class="input-xlarge"
                ng:model="companyProfile.abbreviated_name"
                required
                />
              </div>
            </div>
            <div class="control-group">
              <label for="dot_number" class="control-label">DOT Number</label>
              <div class="controls">
                <input id="dot_number" type="text" class="input-xlarge" ng:model="companyProfile.dot_number" />
                <p class="help-block warning">Required for bidding.</p>
              </div>
            </div>

            <div class="control-group">
              <label for="insurance" class="control-label">Insurance</label>
              <div class="controls">
                <select class="input-xlarge" ng-model="companyProfile.insurance">
                  <option value=""></option>
                  <option value="lt_1M">&lt; 1M</option>
                  <option value="1M">1M</option>
                  <option value="5M">5M</option>
                  <option value="10M">10M</option>
                  <option value="gt_10M">&gt; 10M</option>
                </select>
              </div>
            </div>

            <div class="control-group">
              <label for="logo_id" class="control-label">Company Logo</label>

              <div class="controls mobile-controls">
                <input ng-init="setupFileUploader()" class="cloudinary-fileupload" data-url="https://api.cloudinary.com/v1_1/subout/auto/upload" name="file" type="file"></input>
                <input type="hidden" id="company_logo_id" class="file-upload-public-id" value="{{company.logo_id}}" ng-model="company.logo_id">
                <div id="progress">
                  <div class="bar" style="width: 0%;"></div>
                </div>
                <img ng-show="company.logo_url" ng-src="{{company.logo_url}}" class="image-preview"/>
                <div ng-hide="company.logo_url">No Logo Available</div>
              </div>
            </div>

            <div class="control-group" ng-class="{error:settingsCompanyProfile.since.$invalid}">
              <label for="since" class="control-label">Established Date *</label>
              <div class="controls">
                <input id="since" name="since" type="text" class="input-xlarge" ng:model="companyProfile.since" required />
              </div>
            </div>

            <div class="control-group" ng-class="{error:settingsCompanyProfile.owner.$invalid}">
              <label for="owner" class="control-label">Owner *</label>
              <div class="controls">
                <input id="owner" name="owner" type="text" class="input-xlarge" ng:model="companyProfile.owner" required />
              </div>
            </div>

            <div class="control-group" ng-class="{error:settingsCompanyProfile.contact_name.$invalid}">
              <label for="owner" class="control-label">Contact Name *</label>
              <div class="controls">
                <input id="contact" name="contact_name" type="text" class="input-xlarge" ng:model="companyProfile.contact_name" required />
              </div>
            </div>

            <div class="control-group" ng-class="{error:settingsCompanyProfile.contact_phone.$invalid}">
              <label for="contact_phone" class="control-label">Contact Phone *</label>
              <div class="controls">
                <input id="contact_phone" name="contact_phone" type="text" class="input-xlarge" ng:model="companyProfile.contact_phone" required />
              </div>
            </div>

            <div class="control-group" ng-class="{error:settingsCompanyProfile.contact_email.$invalid}">
              <label for="contact_email" class="control-label">Contact Email *</label>
              <div class="controls">
                <input id="contact_email" name="contact_email" type="text" class="input-xlarge" ng:model="companyProfile.email" required />
              </div>
            </div>

            <div class="control-group" ng-class="{error:settingsCompanyProfile.website.$invalid}">
              <label for="website" class="control-label">Website *</label>
              <div class="controls">
                <input id="website" name="website" type="text" class="input-xlarge" ng:model="companyProfile.website" required />
              </div>
            </div>

            <div class="control-group">
              <label for="tpa" class="control-label">TPA</label>
              <div class="controls">
                <input id="tpa" type="text" class="input-xlarge" ng:model="companyProfile.tpa" />
              </div>
            </div>

            <div class="control-group">
              <label for="cell_phone" class="control-label">Text message (SMS) number</label>
              <div class="controls">
                <input id="cell_phone" type="text" class="input-xlarge" ng-model="companyProfile.cell_phone" />
                <p class="help-block">We will send text messages about emergecy opportunities</p>
              </div>
            </div>

            <hr />

            <div class="control-group">
              <label for="notification_type" class="control-label">Notification</label>
              <div class="controls">
                <select class="input-xlarge" name="notification_type" id="notification_type"  ng-model="companyProfile.notification_type">
                  <option value="None">None</option>
                  <option value="Individual">Individual</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label for="notification_email" class="control-label">Notification Email</label>
              <div class="controls">
                <input id="notification_email" name="notification_email" type="text" class="input-xlarge" ng:model="companyProfile.notification_email" />
              </div>
            </div>

            <div class="control-group" ng-class="{error:settingsCompanyProfile.payment_method.$invalid}">
              <label for="payment_method" class="control-label">Payment methods</label>
              <div class="controls">
                <ul>
                  <li ng-repeat="payment_method in companyProfile.payment_methods">
                    {{payment_method}} <a ng-click="removePaymentMethod(payment_method)" class="icon icon-trash"></a>
                  </li>
                </ul>
                <select id="payment_method" name="payment_method" ng-model="newPaymentMethod" ng-options="t for t in paymentMethodOptions">
                  <option value="">Select</option>
                </select>
                <button class="btn" ng-click="addPaymentMethod()" ng-disabled="!newPaymentMethod">Add</button>
              </div>
            </div>

            <div class="form-actions">
              <button class="btn btn-primary" ng-click="saveCompanyProfile()" ng-disabled="settingsCompanyProfile.$invalid">Save</button>
            </div>
          </fieldset>
        </form>
      </div>

      <div ng-class="{active:selectedTab == 'fleet'}" class="tab-pane modal-content" id="fleet">
        <form name="settingsFleet" class="form-horizontal" novalidate>
          <fieldset>
            <p class="alert alert-error" ng:show="companyProfileError">{{companyProfileError}}</p>

            <div class="control-group">
              <label for="has_ada_vehicles" class="control-label">Fleet includes ADA vehicles?</label>
              <div class="controls">
                <input id="has_ada_vehicles" type="checkbox" ng-model="companyProfile.has_ada_vehicles" value="1">
                <p class="help-block warning">Required for bidding on ADA opportunities.</p>
              </div>
            </div>

            <div class="control-group" ng-class="{error:settingsFleet.fleet_size.$invalid}">
              <label for="fleet-size" class="control-label">Fleet Size *</label>
              <div class="controls">
                <input id="fleet-size" name="fleet_size" type="text" class="input-xlarge" ng:model="companyProfile.fleet_size" required />
              </div>
            </div>

            <div class="control-group">
              <label for="vehicle-type" class="control-label">Vehicle Type</label>
              <div class="controls">
                <ul>
                  <li ng-repeat="vehicle_type in companyProfile.vehicle_types">
                    {{vehicle_type}} <a ng-click="removeVehicleType(vehicle_type)" class="icon icon-trash"></a>
                  </li>
                </ul>
                <select id="vehicle-type" name="vehicle-type" ng-model="newVehicleType" ng-options="t for t in vehicleTypeOptions">
                  <option value="">Select</option>
                </select>
                <button class="btn" ng-click="addVehicleType()" ng-disabled="!newVehicleType">Add</button>
              </div>
            </div>

            <div class="form-actions">
              <button class="btn btn-primary" ng-click="saveCompanyProfile()" ng-disabled="settingsFleet.$invalid">Save</button>
            </div>
          </fieldset>
        </form>
      </div>

      <div ng-class="{active:selectedTab == 'favorited-regions'}" class="tab-pane modal-content" id="favorited-regions">
        <h4>Favorited Regions:</h4>
        <form name="settingsFavoritedRegions" class="form-horizontal" novalidate>
          <div class="region-checkboxes">
            <fieldset class="regions-table">
              <label ng-repeat="(region_name, region_abbr) in ALL_REGIONS" for="input-region-{{region_abbr}}" class="checkbox">
                <div>
                  <input
                    id="input-region-{{region_abbr}}"
                    type="checkbox"
                    name="regions[{{ region_abbr }}]"
                    ng-model="companyProfile.allRegions[region_name]"
                    value="1">
                    {{region_name}}
                </div>
              </label>
            </fieldset>
            <div class="form-actions">
              <button class="btn btn-primary" ng-click="saveFavoritedRegions()">Save</button>
              <button class="btn cancel" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </form>
      </div>

      <div ng-class="{active:selectedTab == 'vehicles'}" class="tab-pane modal-content" id="vehicles">

        <h4>Current Subscription Plan: {{company.subscription_plan}}</h4>

        <!--subout pro plan-->

        <div class="subout-pro-subscription" ng-show="company.subscription_plan == 'subout-pro-service'">
          <div>Subscription price: {{(subout_pro_product.price_in_cents + additional_price)/100  | soCurrency}}</div>
          <div class="alert alert-info downgrade-instructions" ng-show="companyProfile.upgraded_recently">You upgraded within the past month.  Before being able to downgrade you will need to wait until at least one month has past since your last upgrade.</div>
          <div class="text-centered">
            <button class="btn btn-primary" ng-disabled="companyProfile.upgraded_recently" ng-click="updateProduct('subout-basic-service')">Downgrade to subout basic plan for {{subout_basic_product.price_in_cents/100 | soCurrency}}</button>
          </div>
        </div>

        <!--subout basic plan-->

        <div class="subout-basic-subscription" ng-show="company.subscription_plan == 'subout-basic-service'">
          <div>Subscription price: {{subout_basic_product.price_in_cents/100 | soCurrency}}</div>
          <div class="text-centered">
            <button class="btn btn-primary" ng-click="updateProduct('subout-pro-service')">Upgrade to subout pro plan for {{subout_pro_product.price_in_cents/100 | soCurrency}}</button>
          </div>
        </div>

        <!--free plan-->

        <div ng-show="company.subscription_plan == 'free'" >
          <div class="alert alert-info" ng-show="subscription == null">Please contact admin to upgrade your plan.</div>
          <div class="text-centered">
            <button class="btn btn-primary" ng-click="updateProduct('subout-basic-service')" ng-disabled="subscription == null || !subscription.has_valid_credit_card">Upgrade to subout basic plan for {{subout_basic_product.price_in_cents/100 | soCurrency}}</button>
            <br />
            <button class="btn btn-primary" ng-click="updateProduct('subout-pro-service')" ng-disabled="subscription == null || !subscription.has_valid_credit_card">Upgrade to subout pro plan for {{subout_pro_product.price_in_cents/100 | soCurrency}}</button>
          </div>
        </div>

        <div ng-show="company.self_service_url && subscription!=null" class="text-centered">
          <div class="alert alert-info" ng-show="!subscription.has_valid_credit_card">Please update your credit card number to upgrade your plan.</div>
          <br />
          <a class="btn btn-success" href="{{company.self_service_url}}" target="_blank">Update my credit card number</a>
        </div>
        <hr />

        <form name="vehicleForm" id="vehicleForm" class="form-horizontal" ng-show="company.subscription_plan == 'subout-pro-service'" novalidate>
          <h4>Roadside assistance buses (free for 2 buses)</h4>
          <div>
            <div ng-repeat="vehicle in companyProfile.vehicles">
              <div class="row-fluid" ng-show="!vehicle.editable">
                <div class="span2"> {{vehicle.year}} </div>
                <div class="span2"> {{vehicle.make}} </div>
                <div class="span3"> {{vehicle.model}} </div>
                <div class="span3"> {{vehicle.vin}} </div>
                <div class="span2"><a class="btn" ng-click="vehicle.editable = 1">Edit</a></div>
                <hr />
              </div>
              <div ng-show="vehicle.editable">
                <div class="control-group">
                  <label for="vehicle_year" class="control-label">Vehicle's year</label>
                  <div class="controls">
                    <input id="vehicle_year" name="vehicle_year" ng-model="vehicle.year" type="text" class="input-xlarge" required />
                  </div>
                </div>
                <div class="control-group" ng-class="{error:newVehicle.vehicle_make.$invalid}">
                  <label for="vehicle_make" class="control-label">Vehicle's Make</label>
                  <div class="controls">
                    <input id="vehicle_make" name="vehicle_make" ng-model="vehicle.make" type="text" class="input-xlarge" required />
                  </div>
                </div>
                <div class="control-group" ng-class="{error:newVehicle.vehicle_model.$invalid}">
                  <label for="vehicle_model" class="control-label">Vehicle's Model</label>
                  <div class="controls">
                    <input id="vehicle_model" name="vehicle_model" ng-model="vehicle.model" type="text" class="input-xlarge" required />
                  </div>
                </div>
                <div class="control-group" ng-class="{error:newVehicle.vehicle_vin.$invalid}">
                  <label for="vehicle_vin" class="control-label">Last 8 Of Truck VIN</label>
                  <div class="controls">
                    <input id="vehicle_vin" name="vehicle_vin" ng-model="vehicle.vin" type="text" class="input-xlarge" required />
                  </div>
                </div>
                <div class="row-fluid text-centered">
                  <button class="btn btn-danger" ng-click="removeVehicle(vehicle)">Remove</button>
                  <button class="btn" ng-click="vehicle.editable = 0" ng-disabled="vehicleForm.$invalid">Close</button>
                </div>
                <hr />
              </div>
            </div>

            <div>
              <a ng-click="addVehicle({'editable': 1})">Add Vehicle (+$50)</a> <br/><br/>
            </div>
          </div>
          <div class="form-actions" ng-show="companyProfile.vehicles.length > 0">
            <button class="btn btn-primary" ng-click="saveVehicles()" ng-disabled="vehicleForm.$invalid">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
