<form id="sign-in-form" ng:submit="signIn()" name="signInForm">
	<fieldset>
		<legend>
			Sign In
		</legend>
		<p class="error-message" ng:show="showMessage(message)">{{message}}</p>
		<label>
			<span>Email*</span>
			<input
					type="text"
					ng:model="user.email"
					required
					autofocus
					/>
			<span class="error" ng:show="myForm.list.$error.REQUIRED">
        Required!</span>
		</label>
		<label>
			<span>Password*</span>
			<input
					type="password"
					ng:model="user.password"
					required
					/>
		</label>

		<button type="submit" class="main-button" ng:disabled="{{signInForm.$invalid}}">Sign In</button>
	</fieldset>
</form>
