<header id="header">
    <div class="inner">
        <div class="row-fluid">
            <div class="span6">
                <div id="logo"><img src="/img/logo.png"></div>
            </div>
        </div>
    </div>
</header>

<form id="sign-up-form" ng:submit="signUp()" name="signUpForm" class="form-horizontal well">
	<fieldset>
		<legend>
			Sign Up
		</legend>
		<p class="alert alert-error" ng:show="errorMessage">{{errorMessage}}</p>
        <div class="control-group">
            <label for="email" class="control-label">Login Email</label>
            <div class="controls">
              
              <input id="email" 
                    type="text"
                    class="input-xlarge"
                    ng:model="user.email"
                    required
                    autofocus
                    />
            </div>
        </div>

        <div class="control-group">
            <label for="password" class="control-label">Password</label>
            <div class="controls">
              
              <input id="password"
                    type="password"
                    class="input-xlarge"
                    ng:model="user.password"
                    required
                    autofocus
                    />
            </div>
        </div>
        
        <div class="control-group">
            <label for="password_confirmation" class="control-label">Password Confirmation</label>
            <div class="controls">
              
              <input id="password_confirmation"
                    type="password"
                    class="input-xlarge"
                    ng:model="user.password_confirmation"
                    required
                    autofocus
                    />
            </div>
        </div>

        <hr />

        <div class="control-group">
            <label for="name" class="control-label">Company Name</label>
            <div class="controls">
              
              <input id="name"
                    type="text"
                    class="input-xlarge"
                    ng:model="company.name"
                    required
                    autofocus
                    />
            </div>
        </div>

        <div class="control-group">
            <label for="abbreviated_name" class="control-label">Company Abbreviated Name</label>
            <div class="controls">
              
              <input id="abbreviated_name"
                    type="text"
                    class="input-xlarge"
                    ng:model="company.abbreviated_name"
                    required
                    autofocus
                    />
            </div>
        </div>

        <div class="control-group">
            <label for="logo_id" class="control-label">Company Logo</label>

            <div class="controls">
              <input class="cloudinary-fileupload" data-url="https://api.cloudinary.com/v1_1/subout/auto/upload" name="file" type="file"></input>
              <input type="hidden" id="company_logo_id" class="file-upload-public-id" ng-model="company.logo_id">
              <div id="progress">
                <div class="bar" style="width: 0%;"></div>
              </div>
              <img class="image-preview" ng-src="{{company.logo_url}}"/>
            </div>
        </div>
        
        <div class="control-group">
            <label for="fleet_size" class="control-label">Fleet Size</label>
            <div class="controls">
              
              <input id="fleet_size"
                    type="text"
                    class="input-xlarge"
                    ng:model="company.fleet_size"
                    required
                    autofocus
                    />
            </div>
        </div>

        <div class="control-group">
            <label for="since" class="control-label">Since</label>
            <div class="controls">
              
              <input id="since"
                    type="text"
                    class="input-xlarge"
                    ng:model="company.since"
                    required
                    autofocus
                    />
            </div>
        </div>
        <div class="control-group">
            <label for="owner" class="control-label">Owner</label>
            <div class="controls">
              
              <input id="owner"
                    type="text"
                    class="input-xlarge"
                    ng:model="company.owner"
                    required
                    autofocus
                    />
            </div>
        </div>

        <div class="control-group">
            <label for="contact_name" class="control-label">Contact Name</label>
            <div class="controls">
              
              <input id="contact_name"
                    type="text"
                    class="input-xlarge"
                    ng:model="company.contact_name"
                    required
                    autofocus
                    />
            </div>
        </div>
        <div class="control-group">
            <label for="contact_phone" class="control-label">Contact Phone</label>
            <div class="controls">
              
              <input id="contact_phone"
                    type="text"
                    class="input-xlarge"
                    ng:model="company.contact_phone"
                    required
                    autofocus
                    />
            </div>
        </div>
        <div class="control-group">
            <label for="company_email" class="control-label">Contact Email</label>
            <div class="controls">
              
              <input id="conpany_email" 
                    type="text"
                    class="input-xlarge"
                    ng:model="company.email"
                    required
                    autofocus
                    />
            </div>
        </div>

        <div class="control-group">
            <label for="website" class="control-label">Website</label>
            <div class="controls">
              
              <input id="website"
                    type="text"
                    class="input-xlarge"
                    ng:model="company.website"
                    required
                    autofocus
                    />
            </div>
        </div>
        <div class="control-group">
            <label for="tpa" class="control-label">TPA</label>
            <div class="controls">
              
              <input id="website"
                    type="text"
                    class="input-xlarge"
                    ng:model="company.tpa"
                    autofocus
                    />
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary" type="submit" ng:disabled="{{signUpForm.$invalid}}">Sign Up</button>
        </div>
	</fieldset>
</form>
