<footer id="footer" class="row"></footer><!--footer-->
<div id="pages">
	<div id="page_new_opportunity" class="page modal hide"></div>
	<div id="page_settings" class="page hide"></div>
	<div id="page_help" class="page hide"></div>
</div>