<section id="block_profile">
	<section class="title"><h5>You</h5></section>
	<section class="content">
	</section>
</section>
<section id="block_filters">
	<section class="title"><h5>Filters</h5></section>
	<section class="content">
	</section>
</section>
<section id="block_tags">
	<section class="title"><h5>Tags</h5></section>
	<section class="content">
	</section>
</section>